fastapi
uvicorn
python-dotenv
pandas
numpy
pdfplumber
pytesseract
pillow
opencv-python
python-docx
groq
pymupdf
chromadb
sentence-transformers
scikit-learn
networkx
reportlab
openpyxl
matplotlib
plotly
kaleido
python-multipart
aiofiles
streamlit
xlrd>=2.0.1
